# Carpetas de caché y configuración local de Godot 4
.godot/
global_script_class_cache.cfg

# Archivos de exportación 
export_presets.cfg
*.apk
*.app
*.exe
*.ipa
*.pck
*.zip

# Archivos basura del sistema operativo
.DS_Store
Thumbs.db